{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Netflix Clone{% endblock %}</title>
    
    <!-- DaisyUI and Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        {% block header %}
        <div class="navbar fixed top-1 z-50 bg-transparent px-20">
            <div class="navbar-start px-4 custom-navbar-item-padding">
                <div class="dropdown">
                    <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
                    </div>
                </div>
            <img src="{% static 'images/logo.png' %}" alt="Netflix Clone Logo" class="h-20 w-auto">
            </div>
            <div class="navbar-end px-4">
                <a class="btn text-white bg-red-700 hover:bg-red-800 focus:ring-red-500 font-medium rounded-lg text-sm px-6 py-2.5 text-center dark:bg-red-750 dark:hover:bg-red-700 dark:focus:ring-red-800">Sign In</a>
            </div>
        </div>
        {% endblock %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="footer footer-center p-4 bg-base-300 text-base-content">
        {% block footer %}
        <aside>
            <p>Copyright © {% now "Y" %} Netflix Clone. All rights reserved.</p>
        </aside>
        {% endblock %}
    </footer>

    {% block scripts %}
    <script src="{% static 'js/scripts.js' %}"></script>
    {% endblock %}
</body>
</html>